.linha {
  display: flex;
  flex-direction: row;
}

.letra {
  height: 100px;
  width: 75px;
  border: 1px solid lightgray;
  margin: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

.certa {
  background-color: #3aa394;
}
.errada {
  background-color: #312a2c;
}
.naolugar {
  background-color: #d3ad69;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  margin: 20px;
}
header {
  text-align: center;
  color: white;
}
body {
  background-color: #504a4b;
}
